*{
    margin: 0;
    padding: 0;
}
.box{
    width: 400px;
    min-height: 40px;
    margin: 100px auto 0;
    font-size: 18px;
    line-height: 24px;
    color: black;
    background-color: red;
    padding: 20px;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .box{
        width: 200px;
        font-size: 16px;
        line-height: 20px;
        color: black;
        background-color: palevioletred;
    }
}

@media screen and (max-width: 599px) {
    .box{
        width: 100px;
        font-size: 14px;
        line-height: 18px;
        color: black;
        background-color: yellowgreen;
    }
}